
#oneLightBrBX
{
position: relative;
bottom: 960px;
left: 269px;
border:2px solid;
border-radius:25px;
width:400px;
height:110px;
padding:10px;
background-color:#3D3D3D;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#pictureBox
{
position: relative;
bottom: 1160px;
left: 269px;
border:2px solid;
border-radius:25px;
width:900px;
height:289px;
padding:15px;
background-color: #3D3D3D;
-moz-box-shadow: 10px 10px 5px #848585; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#linkBXOne
{
position: relative;
bottom: 960px;
left: 700px;
border:2px solid;
border-radius:25px;
width:85px;
height:40px;
padding:10px;
background-color:LightGrey;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#linkBXTwo
{
position: relative;
bottom: 1090px;
left: 800px;
border:2px solid;
border-radius:25px;
width:75px;
height:40px;
padding:10px;
background-color:LightGrey;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#linkBXThree
{
position: relative;
bottom: 1090px;
left: 900px;
border:2px solid;
border-radius:25px;
width:110px;
height:40px;
padding:15px;
background-color:LightGrey;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#linkBXFour
{
position: relative;
bottom: 1240px;
left: 1030px;
border:2px solid;
border-radius:25px;
width:75px;
height:40px;
padding:15px;
background-color:LightGrey;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#linkBXFive
{
position: relative;
bottom: 1200px;
left: 1080px;
border:2px solid;
border-radius:25px;
width:75px;
height:40px;
padding:15px;
background-color:LightGrey;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#oneLightBrBX2
{
position: relative;
top: 20px;
border:2px solid;
border-radius:25px;
width:240px;
height:260px;
padding:10px;
background-color:white;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #888888;
}
#oneSiliverBX
{
position: relative;
left:100px;
border:2px solid;
border-radius:25px;
width:300px;
height:100px;
padding:10px;
background-color:#C8C8C8;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #888888;
}
#oneWhiteBX
{
position: relative;
top: 0px;
left: 300px;
border:2px solid;
border-radius:25px;
width:800px;
height:1000px;
padding:10px;
background-color:white;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#infoBoxOne
{
position: relative;
bottom: 1130px;
left: 369px;
border:2px solid;
border-radius:25px;
width:900px;
height:289px;
padding:15px;
background-color: #3D3D3D;
-moz-box-shadow: 10px 10px 5px #848585; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#infoBoxTwo
{
position: relative;
bottom: 1300px;
left: 469px;
border:2px solid;
border-radius:25px;
width:900px;
height:289px;
padding:15px;
background-color: #A74444;
-moz-box-shadow: 10px 10px 5px #848585; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#infoBoxThree
{
position: relative;
bottom: 1400px;
left: 269px;
border:2px solid;
border-radius:25px;
width:900px;
height:289px;
padding:15px;
background-color: #3D3D3D;
-moz-box-shadow: 10px 10px 5px #848585; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px black;
}
h1
{
color: Black;
text-align: left;
font-family: 'Meie Script', cursive;
text-shadow: 5px 5px 5px DimGray;
}
h2
{
color: Black;
text-align: left;
font-family: 'Meie Script', cursive;
text-shadow: 5px 5px 5px DimGray;
font-size:large;
}
h3
{
color: white;
text-align: left;
font-family: 'Meie Script', cursive;
text-shadow: 5px 5px 5px DimGray;
font-size:large;
}
h4
{
color: white;
text-align: left;
font-family: 'Meie Script', cursive;
text-shadow: 5px 5px 5px DimGray;
font-size:xx-large;
}