#pictureBox
{
position: relative;
bottom: 1380px;
left: 269px;
border:2px solid;
border-radius:25px;
width:900px;
height:289px;
padding:15px;
background-color: #3D3D3D;
-moz-box-shadow: 10px 10px 5px #848585; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#oneLightBrBX
{
position: relative;
bottom: 960px;
left: 269px;
border:2px solid;
border-radius:25px;
width:400px;
height:110px;
padding:10px;
background-color:#3D3D3D;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}


#linkBXOne
{
position: relative;
bottom: 1300px;
left: 700px;
border:2px solid;
border-radius:25px;
width:85px;
height:50px;
padding:10px;
background-color: #3D3D3D;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#linkBXTwo
{
position: relative;
bottom: 1400px;
left: 800px;
border:2px solid;
border-radius:25px;
width:75px;
height:50px;
padding:10px;
background-color:#A74444;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#linkBXThree
{
position: relative;
bottom: 1370px;
left: 750px;
border:2px solid;
border-radius:25px;
width:100px;
height:50px;
padding:15px;
background-color: #3D3D3D;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#linkBXFour
{
position: relative;
bottom: 1440px;
left: 860px;
border:2px solid;
border-radius:25px;
width:60px;
height:50px;
padding:15px;
background-color:#A74444;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#linkBXFive
{
position: relative;
bottom: 1580px;
left: 925px;
border:2px solid;
border-radius:25px;
width:90px;
height:45px;
padding:15px;
background-color: #3D3D3D;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px black;
}
#linkBXSix
{
position: relative;
bottom: 1600px;
left: 1025px;
border:2px solid;
border-radius:25px;
width:70px;
height:45px;
padding:15px;
background-color: #A74444;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px black;
}
#oneLightBrBX2
{
position: relative;
top: 20px;
border:2px solid;
border-radius:25px;
width:240px;
height:260px;
padding:10px;
background-color:white;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #888888;
}
#oneSiliverBX
{
position: relative;
left:100px;
border:2px solid;
border-radius:25px;
width:300px;
height:100px;
padding:10px;
background-color:#C8C8C8;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #888888;
}
#oneWhiteBX
{
position: relative;
top: 0px;
left: 300px;
border:2px solid;
border-radius:25px;
width:800px;
height:1000px;
padding:10px;
background-color:white;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#infoBoxOne
{
position: relative;
bottom: 1330px;
left: 369px;
border:2px solid;
border-radius:25px;
width:1000px;
height:289px;
padding:15px;
background-color: #3D3D3D;
-moz-box-shadow: 10px 10px 5px #848585; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#infoBoxTwo
{
position: relative;
bottom: 1500px;
left: 469px;
border:2px solid;
border-radius:25px;
width:900px;
height:289px;
padding:15px;
background-color: #A74444;
-moz-box-shadow: 10px 10px 5px #848585; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#infoBoxThree
{
position: relative;
bottom: 1600px;
left: 269px;
border:2px solid;
border-radius:25px;
width:900px;
height:289px;
padding:15px;
background-color: #3D3D3D;
-moz-box-shadow: 10px 10px 5px #848585; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px black;
}
#infoBoxFour
{
position: relative;
bottom: 1600px;
left: 350px;
border:2px solid;
border-radius:25px;
width:900px;
height:289px;
padding:15px;
background-color: #A74444;
-moz-box-shadow: 10px 10px 5px #848585; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}

#shoeBoxed
{
position: relative;
bottom: 1700px;
left: 220px;
border:2px solid;
border-radius:10px;
width:280px;
height:100px;
padding:20px;
background-color: white;
-moz-box-shadow: 10px 10px 5px #848585; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px black;
}
#ae1
{
position: relative;
bottom: 1800px;
left: 520px;
border:2px solid;
border-radius:10px;
width:400px;
height:130px;
padding:10px;
background-color:  #3D3D3D;
-moz-box-shadow: 10px 10px 5px #848585; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px black;
}
#surePayrole
{
position: relative;
bottom: 2050px;
left: 920px;
border:2px solid;
border-radius:10px;
width:280px;
height:70px;
padding:20px;
background-color: white;
-moz-box-shadow: 10px 10px 5px #848585; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px black;
}
#certOne
{
position: relative;
bottom: 950px;
left: 269px;
border:2px solid;
border-radius:25px;
width:106px;
height:69px;
padding:10px;
background-color:white;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}
#chamber
{
position: relative;
bottom: 1010px;
left: 389px;
border:2px solid;
border-radius:25px;
width:150px;
height:69px;
padding:10px;
background-color:white;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
box-shadow: 10px 10px 5px #C0C0C0;
}

h1
{
color: Black;
text-align: left;
font-family: 'Meie Script', cursive;
text-shadow: 5px 5px 5px DimGray;
}
h2
{
color: white;
text-align: left;
font-family: 'Raleway', cursive;
text-shadow: 5px 5px 5px black;
font-size:large;
}
h3
{
color: white;
text-align: left;
font-family: 'Raleway', cursive;
text-shadow: 5px 5px 5px black;
font-size:medium;
}
h4
{
color: white;
text-align: left;
font-family: 'Meie Script', cursive;
text-shadow: 5px 5px 5px DimGray;
font-size:xx-large;
}